#provide-img {
  margin-top: 80px;
  text-align: center;
}

#provide-contant {
  color: #000000;
  margin-top: 15px;
  text-align: center;
  font-size: 20px;
  padding: 0px 40px;
}

#provide-inner-div{
  padding: 10px;
}

#provide-div{
  padding-bottom: 80px;
}

#top-div{
  display: flex;
}

#bottom-div{
  display: flex;
}

@media (max-width: 991px){
  
  #provide-img{
    margin-top: 20px;
  }

  #top-div{
    flex-direction: column;
    align-items: center;
  }

  #bottom-div{
    flex-direction: column;
  }
}

@media (max-width: 767px){
  #top-div{
    flex-direction: column;
    align-items: center;
  }

  #bottom-div{
    flex-direction: column;
    align-items: center;
  }

  #provide-contant {
    /* margin-top: 15px; */
    text-align: center;
    font-size: large;
  }
}